/* !RESET */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* !GENERICS */

header{
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

h1, h2 {
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    padding-top: 30px;
    line-height: 1.8rem;  
}

.wave{
    height: 100px;
    background-image: url("../img/wave.svg");
    opacity: 0.03;
}

.upside-down{
    rotate: 0.5turn;
}


/* !UTILITY */

.d-flex{
    display: flex;
}

.c-center{
    max-width: 1080px;
    margin: auto;
}

.bg-gray{
    background-color: #F6F6F6;
}

.bg-white{
    background-color: white;
}

.pd-50{
    padding: 50px;
}

.btn{
    font-size: 1.3rem;
    font-weight: 600;
    border: 0;
    padding: 20px 25px;
    border-radius: 30px;
}

/* HEADER */

.container-header{
    height: 100px;
    font-size: 1.1rem; 
    justify-content: space-between;
    align-items: center;   
}

.nav-link li{
    padding: 0 20px;
}


.btn-login{
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;   
}

/* SECTION HEAD */

.container-content-head{
    height: 400px;
    flex-direction: column;
    align-items: center;
}

.content-head{
    height: 100%;
    width: 600px;
    text-align: center;
    color: white;
    flex-direction: column;
    justify-content: center;
}

/* ACTION BTN HEAD */

.btn-download{
    background-color: white;
    color: black;  
}

.btn-open-ds-brw{
    background-color: black;
    color: white;
}

.btn-download::before{
    content: "\01F827";
    padding-right: 10px;
}

/* MAIN COLUMN AND CONTENT */

.main-content{
    flex-direction: row;
    
}

.main-content-reverse{
    flex-direction: row-reverse;    
}

.column-left{
    min-height: 400px;
    width: 60%;
}

.column-right{
    min-height: 400px;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}

/* COLUMN */

.last-content{
    min-height:600px;
    text-align: center;
}

.stars{
    height: 50px;
    text-align: center;
}

.stars img{
    width: 600px;
}

.container-last-content{
    flex-direction: column;
}

.container-btn-download{
    padding-bottom: 50px;
    
}

.btn-download.last-btn-download{
    background-color: #8EA1E1;
    color: white;
}

/* FOOTER */

.container-col-main{
    border-bottom: 2px solid #8EA1E1;
}


.container-col-right{
    min-height: 400px;
    width: 70%;
    flex-direction: row;
}


.column-social{
    min-height: 400px;
    width: 30%;
}

.column-social h3{
    color: #8EA1E1;
    padding-bottom: 20px;
}

/* LENGUAGE SELECTOR */

.column-footer img{
    width: 30px;
}

#lenguage{
    background: none;
    border: none;
    font-size: 1rem;
    color: white;
}

#lenguage option{
    color: black;
}

.column-social h2{
    color: #8EA1E1;
    padding-bottom: 20px;
}

.social i{
    color: white;
    padding: 15px 10px;
    
}

/* COLUMN OTHER LINKS & INFO */


.col-left, .col-medium-left, .col-medium-right, .col-right{
    width: calc(100% / 4);
    min-height: 400px;
}

.column-footer{
    background-color: #23272A;
    padding-top: 100px;
}

h4{
    color: #8EA1E1;
}

.col-left li, .col-medium-left li, .col-medium-right li, .col-right li{
    color:white;
    padding: 5px;
}

/* ENDING FOOTER */

.last-footer{
    background-color: #23272A;
    min-height: 150px;
    padding-top: 15px;
}   

.container-footer{
    min-height: 100px;
    justify-content: space-between;
    align-items: center;   
}

#logo-footer{
    width: 100px;
}

.btn-sign-in{
    width: 100px;
    background-color: #8EA1E1;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
}